<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/warning-buttons.css}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <div class="nav-bar">
        <a href="#" th:href="@{/}" class="nav-icon-1" tabindex="-1" role="button" aria-disabled="true">
            <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon" />
        </a>

        <div class="right-side-nav-bar">
            <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()" class="login-button">Login</a>
            <a href="#" th:href="@{/register}" sec:authorize="isAnonymous()" class="register-button">Register</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="logout-button">Logout</a>
            <a th:href="@{/cart/}" class="cart-icon-2" tabindex="-1" role="button" aria-disabled="true">
                <img th:src="@{/images/cart-icon.png}" alt="Cart" class="cart-icon" />
            </a>
        </div>
    </div>
    <div class="under-nav-bar-menu">
        <a th:href="@{/addresses/}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Your addresses</a>
        <a th:href="@{/orders/}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">List of all orders</a>
        <a th:href="@{/deliveryMethods/}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">List of all delivery methods</a>
        <a th:href="@{/products/}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">List of products</a>
    </div>
    <div th:if="${orderSubmitted}" class="alert alert-success mt-3" role="alert">
        Zamówienie na kwotę <span th:text="${orderSubmitted}"/> zostało złożone pomyślnie.
    </div>

    <h1>Orders list:</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <th>Order date</th>
            <th>User name</th>
            <th>Delivery method</th>
            <th>Order Value</th>
        </thead>

        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderDate}" />
                <td th:text="${order.user.firstName} + ' ' + ${order.user.lastName}" />
                <td th:text="${order.deliveryMethod.name}" />
                <td th:text="${order.totalValue} + ' zł'" />
            </tr>
        </tbody>
    </table>
    <footer>
        <div class=footer-div>
            <div class="footer-content">
                <div class="footer-logo-left-side">
                    <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon-footer" />
                </div>
                <div class="footer-middle-side">
                    <h2>Dane kontaktowe</h2>
                    <a>
                        Zycieklockow.pl <br> Łódź, ul. Al. Politechniki 69 <br> Numer telefonu: +48 213 742 066 <br> adres email: zycieklockow@gmail.com
                    </a>
                </div>
                <div class="footer-right-side">
                    <h2>O nas</h2>
                    <a>
                        RODO
                        <br>
                        Kontakt
                        <br>
                        Informacje
                        <br>
                        Sprzedaż
                        <br>
                    </a>
                </div>
            </div>
            <div class="footer-down-copyrights">
                <a>Zycieklockow.pl to Twój sklep z zestawami klocków LEGO i innych konstrukcyjnych przygód. Jesteśmy dumni z oferowania oryginalnych produktów LEGO, a LEGO, LEGO Minifigures, LEGO Star Wars i inne są zastrzeżonymi znakami towarowymi LEGO Group. ©2024 LEGO Group. Wszelkie prawa zastrzeżone | Sklep z klockami LEGO zycieklockow.pl | 2024</a>
            </div>
        </div>
    </footer>
</body>
</html>