<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head> -->
<body>
    <div class="nav-bar">
        <a href="#" th:href="@{/}" class="nav-icon-1" tabindex="-1" role="button" aria-disabled="true">
            <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon" />
        </a>

        <div class="right-side-nav-bar">
            <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()" class="login-button">Login</a>
            <a href="#" th:href="@{/register}" sec:authorize="isAnonymous()" class="register-button">Register</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="logout-button">Logout</a>
            <a th:href="@{/cart/}" class="cart-icon-2" tabindex="-1" role="button" aria-disabled="true">
                <img th:src="@{/images/cart-icon.png}" alt="Cart" class="cart-icon" />
            </a>
        </div>
    </div>
    <div class="under-nav-bar-menu">
        <div class="under-nav-bar-blocks">
            <a th:href="@{/addresses/}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Your addresses</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/orders/}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">List of all orders</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/deliveryMethods/}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">List of all delivery methods</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/products/}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">List of products</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/about}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">About us</a>
        </div>
    </div>


    <div th:if="${productDeleted}" class="alert" role="alert">
        <div class="left-side-text-alert">
            Product ID = <span th:text="${productDeleted}" /> has been deleted.
        </div>
        <a href="#" class="closeLink">X</a>
    </div>


    <div th:if="${addedProductName}" class="alert" role="alert">
        <div class="left-side-text-alert">
            Product "<span th:text="${addedProductName}" />" with price <span th:text="${addedProductPrice}" /> zł for each in amount <span th:text="${addedProductQuantity}"/> has been added successfully .
        </div>
        <a href="#" class="closeLink">X</a>
    </div>

    <div class="list-of-products-div">

        <div class="list-of-products-middle-section">
            <div class="list-of-products-header">
                <h1>List of products:</h1>
            </div>
            <div class="list-of-products-table-div">
                <table class="table-of-products">
                    <thead class="table-dark">
                        <tr>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>In Stock</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.id}" />
                            <td th:text="${product.name}" />
                            <td th:text="${product.price}" />
                            <td th:text="${product.description}" />
                            <td th:text="${product.quantity}" />
                            <td th:text="${product.category.name}" />
                            <td>
                                <div class="buttons-add-minus-div">
                                    <form th:action="@{/cart/addCartElement/}" method="POST">
                                        <input type="hidden" name="productIdToAdd" th:value="${product.id}" />
                                        <button type="submit" class="button-plus">+</button>
                                    </form>
                                    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/products/delete/}" method="POST">
                                        <input type="hidden" name="productIdToDelete" th:value="${product.id}" />
                                        <button type="submit" class="button-minus">-</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="list-orders-button">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/addForm/}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Add Product</a>
            </div>
        </div>
    </div>
    <footer>
        <div class=footer-div>
            <div class="footer-content">
                <div class="footer-logo-left-side">
                    <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon-footer" />
                </div>
                <div class="footer-middle-side">
                    <h2>Contact Details</h2>
                    <a>
                        Zycieklockow.pl <br> Łódź, ul. Al. Politechniki 69 <br> Phone Number: +48 213 742 066 <br> Email Address: zycieklockow@gmail.com
                    </a>
                </div>
                <div class="footer-right-side">
                    <h2>About Us</h2>
                    <a>
                        Terms and Conditions
                        <br>
                        Policies
                        <br>
                        Contact
                        <br>
                        RODO
                        <br>
                    </a>
                </div>
            </div>
            <div class="footer-down-copyrights">
                <a>Zycieklockow.pl is your store for LEGO sets and other construction adventures. We take pride in offering authentic LEGO products, and LEGO, LEGO Minifigures, LEGO Star Wars, and others are trademarks of the LEGO Group. ©2024 the LEGO Group. All rights reserved | LEGO brick store zycieklockow.pl | 2024</a>
            </div>
        </div>
    </footer>
    <script th:src="@{/js/AlertButtonClose.js}"></script>
</body>
</html>