<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head>
<body>
    <div class="container">
        <a href="#" th:href="@{/}" class="btn btn-primary mt-3" tabindex="-1" role="button" aria-disabled="true">Home</a>
        <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()" class="btn btn-success mt-3">Login</a>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="btn btn-success mt-3">Logout</a>

        <div th:if="${productDeleted}" class="alert alert-success mt-3" role="alert">
            Produkt o ID = <span th:text="${productDeleted}" /> został usunięty.
        </div>

        <div th:if="${addedProductName}" class="alert alert-success mt-3" role="alert">
            Produkt o nazwie "<span th:text="${addedProductName}" />" z ceną <span th:text="${addedProductPrice}" /> zł za sztukę w ilości <span th:text="${addedProductQuantity}"/> został dodany pomyślnie.
        </div>

        <hr>

        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/addForm/}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Add Product</a>

        <h1>List of products:</h1>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>In Stock</th>
                    <th>Category</th>
                    <th style="text-align: right;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.id}" />
                    <td th:text="${product.name}" />
                    <td th:text="${product.price} + ' zł'" />
                    <td th:text="${product.description}" />
                    <td th:text="${product.quantity}" />
                    <td th:text="${product.category.name}" />
                    <td style="text-align: right;">
                        <form th:action="@{/cart/addCartElement/}" method="POST">
                            <input type="hidden" name="productIdToAdd" th:value="${product.id}" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                        <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/products/delete/}" method="POST">
                            <input type="hidden" name="productIdToDelete" th:value="${product.id}" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>