<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Add product form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/warning-buttons.css}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
    <a href="#" th:href="@{/}" class="btn btn-primary mt-3" tabindex="-1" role="button" aria-disabled="true">Home</a>
    <a href="#" th:href="@{/products/}" class="btn btn-success mt-3" tabindex="-1" role="button" aria-disabled="true">Back</a>
    <hr>
    <h1>Add a new product:</h1>
    <form th:action="@{/products/processProductForm/}" th:object="${product}" method="POST">
        <input type="text" class="mb-2" th:field="*{name}" placeholder="Product Name"/>
        <br>
        <input type="text" class="mb-2" th:field="*{price}" placeholder="Price"/>
        <br>
        <input type="number" class="mb-2" th:field="*{quantity}" placeholder="Quantity"/>
        <br>
        <input type="text" class="mb-2" th:field="*{description}" placeholder="Description"/>
        <br>
        <select class="mb-2" name="categoryId">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>