*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #FDFFE5;
}
.nav-bar {
    background-color: #CD8D7B;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon, .nav-icon-1{
    height: 100%;
}
.right-side-nav-bar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-icon, .cart-icon-2{
    height: 100%;
}
.login-button, .register-button, .logout-button{
    background-color: #FDFFE5;
    color: #F6C33F; /* Assuming you want white text */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none; /* Remove underline from links */
    width: 7vw;
    height: 6vh;
    border: 5px solid #00263B;
    margin-right: 70px; /* Space between the buttons */
    border-radius: 1rem; /* Rounded corners for buttons */
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */

}
.login-button:hover, .register-button:hover, .logout-button:hover{
    background-color: #F6C33F;
    color: #FDFFE5;
    transform: translate(3px, 3px);


}

