*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: white;
}

/* START | NAV BAR SECTION */

.nav-bar {
    background-color: #FF3F4C;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon, .nav-icon-1{
    height: 100%;
}
.right-side-nav-bar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-icon, .cart-icon-2{
    height: 100%;
}
.login-button, .register-button, .logout-button{
    background-color: #00253F;
    color: white; /* Assuming you want white text */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none; /* Remove underline from links */
    width: 7vw;
    height: 6vh;
    border: 5px solid #00263B;
    margin-right: 70px; /* Space between the buttons */
    border-radius: 1rem; /* Rounded corners for buttons */
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */

}
.login-button:hover, .register-button:hover, .logout-button:hover{
    background-color: whitesmoke;
    color: #00253F;
    transform: translate(3px, 3px);
}

/* END | NAV BAR SECTION */

/* START | ABOUT US SECTION */
.About-us {
    width: 100%;
    height: 150vh;
    background-color: white;
    display: flex;
    justify-content: center;
    color: #000; /* You had an incomplete property here */
}

.about-us-text-welcome {
    width: 60%;
    height: 150vh;
    background-color: whitesmoke;
}

.about-us-text-welcome > .welcome-header > h1 {
    font-size: 5rem;
    color: #00263B;
}
.welcome-image{
    height: 50vh;
    display: flex;
    margin-top: 250px;
    justify-content: center;
}

.about-us-text-welcome > .welcome-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-us-text-welcome > .welcome-text {
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto auto;
    flex-direction: row;
}

.about-us-text-welcome > .welcome-text > a {
    color: #00263B;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
}
.Rodo{
    width: 100%;
    height: 70vh;
    background-color: #017DE2;
    display: flex;
}
.rodo-left-text{
    width: 60%;
    height: 70vh;

}
.rodo-right-image{
    width: 40%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodo-lawyer-image{
    height: 40vh;
    display: flex;
    justify-content: center;

}
.rodo-left-text > .rodo-left-text-header{
    width: 100%;
    height: 20%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rodo-left-text > .rodo-left-text-header > h1{
    font-size: 3.5rem;
    color: white;
}
.rodo-left-text > .rodo-left-text-paragraph{
    width: 60%;
    height: 10vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 170px auto auto;
    flex-direction: column;
}
.rodo-left-text > .rodo-left-text-paragraph > a{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;

}
.contact-us{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    color: #000; /* You had an incomplete property here */
}
.contact-us > .contact-us-middle{
    width: 60%;
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us > .contact-us-middle > .contact-us-header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-us > .contact-us-middle > .contact-us-bottom {
    width: 100%;
    height: 80%;
    display: flex;
}
.contact-us > .contact-us-middle > .contact-us-header > h1 {
    font-size: 3.5rem;
    color: #00263B;
}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-text{
    width: 50%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-text > a{
    font-size: 1.5rem;
    width: 80%;
    line-height: 2.5rem;
    margin-top: 40px;

}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-text > a > ul{
    margin-top: 40px;

}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-text > a > h2{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;

}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-image{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.contact-us > .contact-us-middle > .contact-us-bottom > .contact-us-image > .contact-us-image-lego{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* END | ABOUT US SECTION */

/* START | UNDER NAVBAR SECTION */
.under-nav-bar-menu{
    width: 100%;
    height: 6vh;
    text-align: center;
    background-color: #00263B;
}
.under-nav-bar-menu > .under-nav-bar-blocks{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    font-size: 1.25rem;
    display: inline-block;
    width: 12%;
    text-align: center;
}
.under-nav-bar-menu > .under-nav-bar-blocks > a{
    text-decoration: none;
    color: white;
}

.under-nav-bar-menu > .under-nav-bar-blocks > a:hover{
    border-bottom: 4px solid whitesmoke;
    border-radius: 0.1rem;
    transition-duration: 100ms;
}
/* END | UNDER NAVBAR SECTION */


/* START | REGISTER PAGE SECTION */
.register-middle-section-div {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.register-middle-section-div > .register-forms-div{
    width: 80%;
    height: 110vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

}
.register-middle-section-div > .register-forms-div > .register-forms-header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.register-middle-section-div > .register-forms-div > .register-forms-header > h1{
    color: #00263B;
    font-size: 4rem;

}
.register-middle-section-div > .register-forms-div > .register-forms{
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-middle-section-div > .register-forms-div > .register-forms > .building-lego-image{
    display: flex;
    margin-top: 550px;
    width: 10%;
    height: 10%;
}
.register-middle-section-div > .register-forms-div > .register-forms > form{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 82vh;
}
.register-middle-section-div > .register-forms-div > .register-forms > form > .form-group{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #00263B;
    flex-direction: column;
    height: 20%;
}
.register-middle-section-div > .register-forms-div > .register-forms > form > .form-group > .error{
    color: red;
    margin-top: 5px;
}
.register-middle-section-div > .register-forms-div > .register-forms > form > .form-group > .form-control{
    display: flex;
    width: 45%;
    height: 50%;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid  #00263B;
    font-style: italic;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
}
.register-middle-section-div > .register-forms-div > .register-forms > form > .form-group > .submit-button-form{
    width: 50%;
    height: 50%;
    background-color: #FF3F4C;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */
}
.register-middle-section-div > .register-forms-div > .register-forms > form > .form-group > .submit-button-form:hover{
    background-color: #FFD101;
    color: #00263B;
    transform: translate(3px, 3px);
}

/* END | REGISTER PAGE SECTION */

/* START | ACCESS DENIED SECTION */

.no-access-div{
    width: 100%;
    height: 80vh;
}
.no-access-div > .no-access-middle-section{
    width: 60%;
    height: 80vh;
    margin: auto;
    background-color: whitesmoke;
}
.no-access-div > .no-access-middle-section > .no-access-header{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.no-access-div > .no-access-middle-section > .no-access-bottom{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.no-access-div > .no-access-middle-section > .no-access-bottom > .no-access-image{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.no-access-div > .no-access-middle-section > .no-access-bottom > .no-access-image > .no-access-image-lego{
    height: 40vh;
    display: flex;
}
.no-access-div > .no-access-middle-section > .no-access-header > h1{
    font-size: 4rem;
}

/* END | ACCESS DENIED SECTION */

/*START | LOGIN PAGE SECTION */

.middle-section-page{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-section-page > .login-page-container{
    width: 80%;
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.middle-section-page > .login-page-container > .login-page-header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}
.middle-section-page > .login-page-container > .login-page-header > h1 {
    color: #00263B;
    font-size: 4rem;
}
.middle-section-page > .login-page-container > .login-page-header > h2{
    color: #00263B;
    font-size: 2rem;
    margin-top: 1.6rem;
}
.middle-section-page > .login-page-container > form{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 60%;
    height: 82vh;
}
.middle-section-page > .login-page-container > form > .error{
    color: red;
    margin-top: 5px;
}

.middle-section-page > .login-page-container > form > .form-group{
    width: 70%;
    display: flex;
    align-items: center;
    color:  #00263B;
    margin-top: 3rem;
    flex-direction: column;
    height: 20%;
}
.middle-section-page > .login-page-container > form > .form-group > .form-control {
    display: flex;
    width: 45%;
    height: 50%;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid #00263B;
    font-style: italic;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
}
.middle-section-page > .login-page-container > form > .form-group > .login-button-login{
    width: 50%;
    height: 50%;
    background-color: #FF3F4C;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */
}
.middle-section-page > .login-page-container > form > .form-group > .login-button-login:hover{
    background-color: #FFD101;
    color: #00263B;
    transform: translate(3px, 3px);
}

/*END | LOGIN PAGE SECTION */

/*START | DELIVERY METHODS PAGE SECTION */

.list-delivery-div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-delivery-div > .list-delivery-middle-section{
    width: 80%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-header > h1 {
    color: #00263B;
    font-size: 4rem;

}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-table-div{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00263B;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-table-div > table{
    font-size: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #D70F35;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-table-div > table > thead{
    text-align: center;
    font-size: 3rem;
    background-color: #00263B;
    color: whitesmoke;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-table-div > table > tbody{
    text-align: center;
    color: whitesmoke;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-button-div{
    width: 20%;
    height: 10vh;
    display: flex;
    margin-top: 2%;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-button-div > a{
    width: 90%;
    height: 70%;
    background-color: #FF3F4C;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: #00263B;
    text-align: center;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-button-div > a:hover{
    background-color: #FFD101;
    color: #00263B;
    transform: translate(3px, 3px);
}

.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new{
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new > form{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new > form > .form-group{
    width: 70%;
    display: flex;
    align-items: center;
    color:  #00263B;
    margin-top: 3rem;
    flex-direction: column;
    height: 20%;
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new > form > .form-group > .form-control{
    display: flex;
    width: 45%;
    height: 50%;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid  #00263B;
    font-style: italic;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new > form > .form-group > .submit-delivery-button{
    width: 70%;
    height: 90%;
    background-color: #FF3F4C;
    border-radius: 1rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 0px 0px rgba(66, 68, 90, 1);
    transition: background-color 0.3s ease, transform 0.5s ease; /* Ustawienie efektu przejścia */
}
.list-delivery-div > .list-delivery-middle-section > .list-delivery-form-add-new > form > .form-group > .submit-delivery-button:hover{
    background-color: #FFD101;
    color: #00263B;
    transform: translate(3px, 3px);
}

/*END | DELIVERY METHODS PAGE SECTION */

/*START | ADDRESSES-LIST PAGE SECTION*/

.list-adressed-middle-section{
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color:black;
    background-color: whitesmoke;
}

.function-button{
    display: flex;
    background-color: #00E3F9;
    border-radius: 3rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    color:white;
    margin-top: 40px;
    width: 10vw;
    height: 6vh;
}

/*END | ADDRESSES-LIST PAGE SECTION*/

/* START | FOOTER SECTION */

footer{
    width: 100%;
    height: 20vh;
    background-color: #001F31;
}
.footer-div {
    width: 100%;
    height: auto;
    background-color: #001F31;
    display: flex;
    flex-direction: column; /* Arrange the divs vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    color: white;
}

.footer-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-middle-side > h2,
.footer-right-side > h2{
    margin-bottom: 10px;
}

.footer-logo-left-side,
.footer-middle-side,
.footer-right-side {
    width: 33%;
    height: auto;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-logo-left-side > .nav-icon-footer{
    width: 28%;
    background-color: #D70F35;
}
.footer-down-copyrights {
    width: 60%;
    height: auto;
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/* END | FOOTER SECTION */