*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wix Madefor Display", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.nav-bar {
    background-color: #CD8D7B;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-icon {
    height: 100%;
}

.cart-icon {
    height: 70%;
    margin-left: auto;
}

.container {
    background-color: #00E3F9;
    -webkit-box-shadow: 5px 12px 13px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 12px 13px -6px rgba(66, 68, 90, 1);
    box-shadow: 5px 12px 13px -6px rgba(66, 68, 90, 1);
    width: 30%;
    height: 50%;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-control {
    border-radius: 25px; /* Rounded corners */
    width: 90%; /* Percentage of the container width */
    margin: 10px auto; /* Center the input fields */
    height: 40px; /* Fixed height for uniformity */
    background-color: #FDFFE5; /* Light background */
    border: 2px solid #001F31; /* Solid border */
    padding: 0 15px; /* Padding inside the input fields */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
    font-size: 16px; /* Readable font size */
    color: #333; /* Text color */
}

.submit-button-form {
    width: 90%; /* Match input field width */
    height: 40px; /* Match input field height */
    background-color: #264653; /* Button background color */
    color: white; /* Button text color */
    border-radius: 25px; /* Rounded corners */
    border: none; /* No border */
    margin: 20px auto; /* Center the button and add some margin at the top */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to make it 'pop' */
    transition: background-color 0.3s ease; /* Transition for when the button is interacted with */
}

.submit-button-form:hover {
    background-color: #1D3557; /* Darken button on hover */
}

/* Additional styles for error messages */
.error {
    color: #d9534f; /* Bootstrap's default error color */
    display: block; /* Make sure it takes up its own line */
    font-size: 0.85em; /* Smaller font size for error messages */
    margin-top: 5px; /* Margin on top of the error message */
}


