.alert{
    width: 20vw;
    height: 15vh;
    background-color: #E4FFEE;
    color: #369F65;
    position: fixed;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 35%; /* Wycentrowanie pionowe */
    left: 50%; /* Wycentrowanie poziome */
    transform: translate(-50%, -50%); /* Przesunięcie w lewo i w górę o połowę szerokości i wysokości */
}
.alert > .left-side-text-alert{
    width: 80%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.alert > a{
    position: absolute;
    top:0;
    right: 0;
    margin: 15px;
    font-size: 3rem;
    color: #369F65;
    text-decoration: none;
}