<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>
<body>
    <div class="nav-bar">
        <a href="#" th:href="@{/}" class="nav-icon-1" tabindex="-1" role="button" aria-disabled="true">
            <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon" />
        </a>

        <div class="right-side-nav-bar">
            <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()" class="login-button">Login</a>
            <a href="#" th:href="@{/register}" sec:authorize="isAnonymous()" class="register-button">Register</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="logout-button">Logout</a>
            <a th:href="@{/cart/}" class="cart-icon-2" tabindex="-1" role="button" aria-disabled="true">
                <img th:src="@{/images/cart-icon.png}" alt="Cart" class="cart-icon" />
            </a>
        </div>
    </div>
    <div class="under-nav-bar-menu">
        <div class="under-nav-bar-blocks">
            <a th:href="@{/addresses/}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Your addresses</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/orders/}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">List of all orders</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/deliveryMethods/}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">List of all delivery methods</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/products/}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">List of products</a>
        </div>
        <div class="under-nav-bar-blocks">
            <a th:href="@{/about}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">About us</a>
        </div>
    </div>
    <div class="list-address-div">
        <div class="list-address-middle-section">
            <div class="list-address-header">
                <h1>Add a new product</h1>
            </div>
            <div class="list-address-form">
                <form th:action="@{/addresses/processAddressForm/}" th:object="${address}" method="POST">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"/>
                        <small class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
                        <small class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
                    </div>
                    <div class="form-group">
                        <label>Street</label>
                        <input type="text" class="form-control" th:field="*{street}" placeholder="Street"/>
                        <small class="error" th:if="${#fields.hasErrors('street')}" th:errors="*{street}" />
                    </div>
                    <div class="form-group">
                        <label>Building Number</label>
                        <input type="text" class="form-control" th:field="*{buildingNumber}" placeholder="Building Number"/>
                        <small class="error" th:if="${#fields.hasErrors('buildingNumber')}" th:errors="*{buildingNumber}" />
                    </div>
                    <div class="form-group">
                        <label>Apartment Number (optional)</label>
                        <input type="text" class="form-control" th:field="*{apartmentNumber}" placeholder="Apartment Number"/>
                        <small class="error" th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}" />

                    </div>
                    <div class="form-group">
                        <label>Zip Code</label>
                        <input type="text" class="form-control" th:field="*{zipCode}" placeholder="Zip Code"/>
                        <small class="error" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" />
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" th:field="*{city}" placeholder="City"/>
                        <small class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" />
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" th:field="*{country}" placeholder="Country"/>
                        <small class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}" />
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="number" class="form-control" th:field="*{phoneNumber}" placeholder="+XX XXX XXX XXX"/>
                        <small class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" />
                    </div>
                    <div class="form-group">
                        <input class="submit-button-form" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class=footer-div>
            <div class="footer-content">
                <div class="footer-logo-left-side">
                    <img th:src="@{/images/nav-icon.png}" alt="Nav Icon" class="nav-icon-footer" />
                </div>
                <div class="footer-middle-side">
                    <h2>Contact Details</h2>
                    <a>
                        Zycieklockow.pl <br> Łódź, ul. Al. Politechniki 69 <br> Phone Number: +48 213 742 066 <br> Email Address: zycieklockow@gmail.com
                    </a>
                </div>
                <div class="footer-right-side">
                    <h2>About Us</h2>
                    <a>
                        Terms and Conditions
                        <br>
                        Policies
                        <br>
                        Contact
                        <br>
                        RODO
                        <br>
                    </a>
                </div>
            </div>
            <div class="footer-down-copyrights">
                <a>Zycieklockow.pl is your store for LEGO sets and other construction adventures. We take pride in offering authentic LEGO products, and LEGO, LEGO Minifigures, LEGO Star Wars, and others are trademarks of the LEGO Group. ©2024 the LEGO Group. All rights reserved | LEGO brick store zycieklockow.pl | 2024</a>
            </div>
        </div>
    </footer>
</body>
</html>